{% extends "template.html" %}
{% block conteudo %}

<div class="container">
    <!-- Cabeçalho -->
    <div class="row mb-3">
        <div class="col d-flex justify-content-between align-items-center">
            <h2>Contatos</h2>
            <a class="btn btn-primary" href="{{url_for('Novo_contato')}}">
                <i class="bi bi-plus-square"></i> Adicionar Contato
            </a>
        </div>
    </div>

    <!-- Paginação -->
    <div class="row">
        <div class="col">
            <form method="get" action="#">
                <div class="input-group mb-3">
                    <input type="text" name="search" class="form-control" placeholder="Buscar Contatos"
                        value="{{ termo_busca }}">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Tabela -->
    <div class="table-responsive overflow-auto">
        <table class="table table-striped align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Unidade</th>
                    <th>Setores</th>
                    <th>Telefones</th>
                    <th>Tipos</th>
                    <th>Contatos</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for item in Lista_contatos %}
                <tr>
                    <td>{{ item.fantasia }}</td>
                    <td>{{ item.setor }}</td>
                    <td>{{ item.telefone }}</td>
                    <td>{{ item.tipo }}</td>
                    <td>{{ item.contato }}</td>
                    <td>
                        <a class="btn btn-primary m-1" href="{{url_for('Editar_contato', id=item.idcontatos)}}" title="Editar">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a class="btn btn-danger m-1°" href="{{url_for('Excluir_contato', id=item.idcontatos)}}" title="Apagar">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
