{% extends "publico.html" %}
{% block conteudo %}

<div class="container">
    <!-- Cabeçalho -->
    <div class="row mb-3">
       
    <div>
        <form method="get" action="#">
            <div class="input-group mb-3" style="width: 70%; margin: auto;">
                <input type="text" name="search" class="form-control" placeholder="Buscar lojas"
                    value="{{ termo_busca }}">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </form>
    </div>
    <!-- Tabela -->
    <div class="table-responsive overflow-auto" style="width: 70%; margin: auto;">
        <table class="table table-sm align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col" style="width: 70%;">Produto</th>
                    <th scope="col">Entrada</th>
                    <th scope="col">Saída</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista_estoque %}
                <tr>
                    <td>{{ item.nome_produto }}</td>
                    <td>{{ item.total_entrada }}</td>
                    <td>{{ item.total_saida }}</td>
                    <td>{{ item.saldo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
